<!DOCTYPE html>
<html>
<head>
    {% block title -%}
    <title>{{title}}</title>
    {% endblock %}
</head>
<body>
<h1>{{title}}</h1>
{% block content %}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/" method="post">
    <p><label>Имя: </label> <input type="text" name="name" value="" required />
    <p><label>Сообщение:</label>
    <p><textarea name="message" rows=7 cols=40></textarea>
    <p><input type="submit" value="Отправить" />
</form>
{% endblock %}
{% block history -%}
<hr>
<h2>Архив сообщений</h2>
<ul>
    {% for p in messages %}
    <li>
        <p >[{{p.tm}}] {{p.name}} : {{p.text}}</a></p>
    </li>
    {% endfor %}
</ul>
{% endblock -%}
</body>
</html>

